html{
    
    background-image:url(../Images/pink.jpg);
}

body{
    
    width: 700px;
    padding: 70px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

body{
    
    text-align: center;
    font-family: Georgia, Geneva, Palatino;
}

body{
    
    border: 4px solid #005;
    background-color: #f442AA;
}

a{
    
    font-size: 15pt;
    color:#ffEDF7;
    text-decoration: none;
}

a:hover{
    
    color: #ffe6ff;
}

h1{
    
    font-size: 40pt;
    color: #000;
    border-top: 2px dotted #680143;
    border-bottom: 2px dotted #543143;
    text-transform: uppercase;
}

p{
    
    font-size: 14pt;
    line-height: 14pt;
}

img{
    
    border: medium solid #966;
    box-shadow: 5px 5px 5px rgba(0,0,0,3);
    
}
